@let profile = user.worker$ | async;
<div class="d-flex direction-column w-100">
  <h1 class="mb-20">{{naming.personalData}}</h1>
  <div class="d-flex direction-row j-c-space-between w-100 mb-40 mobile">
    <div class="d-flex direction-column container-border padding10 w-30">
      <div class="sub_title mb-10">{{naming.speciality1}}</div>
      <div class="sub-title__text">{{profile?.resume?.specialization?.name}}</div>
    </div>
    <div class="d-flex direction-column container-border padding10 w-30">
      <div class="sub_title mb-10">{{naming.interestVacancy1}}</div>
      <div class="sub-title__text mb-20">{{profile?.resume?.vacancy}}</div>
<!--      <ul class="sub-title__text padding-left30">-->
<!--        <li class="mb-5">текст текст текст текст текст</li>-->
<!--      </ul>-->
    </div>
    <div class="d-flex direction-column container-border padding10 w-30">
      <div class="sub_title mb-10">{{naming.coursesMy1}}</div>
      <div class="sub-title__text mb-20">{{profile?.resume?.courses}}</div>
<!--      <ul class="sub-title__text padding-left30">-->
<!--        <li class="mb-5">текст текст текст текст текст</li>-->
<!--      </ul>-->
    </div>
  </div>
  <div class="d-flex direction-column j-c-center a-1-center container-border padding10 mb-40 mobile-container">
    <div class="sub_title mb-20">{{naming.skillsMy1}}</div>
    <div class="d-flex direction-row a-1-center j-c-center w-80 flex-wrap">
      @for (skill of profile?.resume?.skills; track skill){
        <div class="skill">{{skill.name}}</div>
      }
    </div>
  </div>
  <div class="d-flex direction-column container-border padding10 mb-40">
    <div class="sub_title mb-10">{{naming.interestTasks1}}</div>
    <div class="sub-title__text mb-20">{{profile?.resume?.interesting}}</div>
<!--    <ul class="sub-title__text padding-left30">-->
<!--      <li class="mb-5">текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст</li>-->
<!--    </ul>-->
  </div>
  <div class="d-flex direction-column container-border padding10 mb-40">
    <div class="sub_title mb-20">{{naming.payMy1}}</div>
    <div class="sub-title__text mb-20">{{profile?.resume?.finances}}</div>
  </div>
  <div class="d-flex direction-column container-border padding10 mb-40">
    <div class="sub_title mb-20">{{naming.comment1}}</div>
    <div class="sub-title__text mb-20">{{profile?.resume?.comment}}</div>
  </div>
  <div *ngIf="profile?.resume?.file" class="d-flex direction-row a-1-center j-c-start mb-40 mobile">
    <div class="sub_title mr-30">{{naming.resume1}}</div>
    <div class="d-flex direction-row a-1-center j-c-center container__btn-resume">
      <a [href]="profile?.resume?.file" target="_blank" class="d-flex a-1-center j-c-center btn-resume">
        <img class="mr-10" src="images/resume.svg" alt="resume"/>
        <div>посмотреть</div>
      </a>
    </div>
  </div>
  <div class="d-flex w-100 a-1-center j-c-center mb-100">
    <a class="btn-change" type="button" routerLink="/create_profile">{{naming.change}}</a>
  </div>
</div>
