<div id="header" class="d-flex header w-100">
  <div class="d-flex container-main a-i-center j-c-space-between">
    <div class="d-flex a-1-center j-c-space-start w-70">
      <div class="d-flex a-i-center j-c-center w-10">
        <a href="#" (click)="scroll('')">
          <img class="logo" src="images/logo.svg" alt="logo"/>
        </a>
      </div>
      <div class="container-link-menu d-flex j-c-space-between a-1-center w-75" *ngIf="!isMobile">
        <a href="#section7" class="link">{{naming.mission}}</a>
        <a href="#section9" class="link">{{naming.howItWorks}}</a>
        <a href="#section4" class="link">{{naming.partners}}</a>
        <a href="#section4" class="link">{{naming.candidates}}</a>
        <a href="#section8" class="link">{{naming.projects}}</a>
        <a href="#section10" class="link">{{naming.tariffs}}</a>
        <a href="#footer" class="link">{{naming.contacts}}</a>
      </div>
    </div>

    <div class="a-1-center j-c-center d-flex" *ngIf="!isMobile">
      <a href="#footer" class="d-flex height-radius container-link-auth mr-10">
        {{naming.callback}}
      </a>
      <a *ngIf="!(auth.auth$ | async)" routerLink="/auth/signin" class="d-flex height-radius container-link-auth mr-10">
        {{naming.signIn}}
      </a>
    </div>

    <button *ngIf="isMobile" type="button" (click)="showMobileMenu()">
      <img class="img" src="images/burger.svg" alt="menu"/>
    </button>
  </div>
  <app-mobile-header *ngIf="MobileMenu"></app-mobile-header>
</div>


