<div id="header" class="d-flex header w-100">
  <div class="d-flex container-main a-i-center j-c-space-between">
    <div class="d-flex a-1-center j-c-space-start w-70">
      <div class="d-flex a-i-center j-c-center w-10">
        <a routerLink="/" (click)="scroll('')">
          <img class="logo" src="images/logo.svg" alt="logo"/>
        </a>
      </div>
      <div class="container-link-menu d-flex j-c-space-between a-1-center w-75" *ngIf="!isMobile">
        <a routerLink="/" class="link" (click)="scroll('section7')">{{naming.mission}}</a>
        <a routerLink="/" class="link" (click)="scroll('section9')">{{naming.howItWorks}}</a>
        <a routerLink="/" class="link" (click)="scroll('section4')">{{naming.partners}}</a>
        <a routerLink="/" class="link" (click)="scroll('section8')">{{naming.candidates}}</a>
        <a routerLink="/" class="link" (click)="scroll('section3')">{{naming.projects}}</a>
        <a routerLink="/" class="link" (click)="scroll('section10')">{{naming.tariffs}}</a>
        <a routerLink="/" class="link" (click)="scroll('footer')">{{naming.contacts}}</a>
      </div>
    </div>

    <div class="a-1-center j-c-center d-flex" *ngIf="!isMobile">
      <div class="d-flex height-radius container-link-auth mr-10">
        <button class="w-100" type="button">{{naming.callback}}</button>
      </div>
    </div>

    <button *ngIf="isMobile" type="button" (click)="showMobileMenu()">
      <img class="img" src="images/burger.svg" alt="menu"/>
    </button>
    <!--    <div class="d-flex a-1-center">-->
    <!--      <app-profile-button></app-profile-button>-->
    <!--    </div>-->
  </div>
  <app-mobile-header *ngIf="MobileMenu"></app-mobile-header>
</div>


