<section *ngIf="(resumes|async) as _resumes" class="mb-100 w-100 direction-column a-1-center j-c-center d-flex">
  <div class="d-flex j-c-center a-1-center section4-container mb-100">
    <h1 class="section4-container__title">{{naming.h1Section4}}<b>{{naming.h11Section4}}</b></h1>
  </div>

  <div class="d-flex direction-row w-100 height">
    <!--  цикл самой карточки-->
    <div *ngFor="let resume of _resumes?.data?.slice(0,3)" class="col-3">
      <div class="d-flex card a-1-start j-c-center">
        <div class="d-flex direction-column card-container">
          <div class="card-container__title d-flex a-1-center j-c-center mb-10">{{resume.vacancy}}</div>
          <!--      цикл навыков -->
          <div class="card-container__skills-container d-flex direction-row j-c-center">
            <div *ngFor="let skill of resume.skills?.slice(0,3)" class="skills-container__skill">{{skill.name}}</div>
          </div>
          <div class="card-container__courses container-white d-flex">
            <div class="card-container__courses-container direction-column j-c-center a-1-center d-flex">
              <div class="card-container__courses-container-title">{{naming.courses}}</div>
              <div class="card-container__courses-container-text w-80 border">{{resume.courses | limit:200}}</div>
            </div>
          </div>
          <div class="card-container__courses container-white d-flex">
            <div class="card-container__courses-container direction-column j-c-center a-1-center d-flex">
              <div class="card-container__courses-container-title">{{naming.skills}}</div>

              <div class="card-container__skills-container d-flex direction-row j-c-center mb-20">
                <div *ngFor="let skill of resume.skills?.slice(3,6)"
                     class="skills-container__skill">{{skill.name}}</div>
              </div>

              <div class="card-container__courses-container-title">{{naming.task_candidate}}</div>

              <div class="d-flex a-1-center j-c-center direction-column">
                <!--      цикл задач -->
                <div class="task w-80">{{resume.interesting | limit:200}}</div>
              </div>
            </div>
          </div>
          <div class="d-flex direction-row j-c-center mt-10 card-container__btns">
            <div class="card-container__btn-city btns">{{resume.city?.name}}</div>
            <online [online]="resume.worker?.is_online" type="large"/>
          </div>
        </div>
      </div>
    </div>

    <div class="relative d-flex w-24">
      <img class="d-flex" src="/images/4section.svg" alt="picture4"/>
      <div class="d-flex absolute direction-column btn-container a-1-center">
        <span class="filter mb-20">{{naming.filter}}</span>
        <a routerLink="/search/resume" class="allCandidates w-80 d-block">{{naming.allCandidates}}</a>
      </div>
    </div>
  </div>
  <div class="d-flex w-100 j-c-center a-1-center">
    <a routerLink="/search/resume" class="btn-talk-with-users">{{naming.talkWithCandidates}}</a>
  </div>
</section>
