.section4-container__title {
  text-align: center;
  font-weight: 400;
}

.btn-container {
  top: 0;
  left: 0;
  right: 0;
  margin: 150px auto 0;

  .filter {
    font-size: 20px;
    line-height: 24px;
  }

  .allCandidates {
    color: var(--white);
    background-color: var(--dark-orange);
    padding: 25px 60px;
    border-radius: 45px;
  }
}

.height {
  height: 850px;

  .w-24 {
    height: 100%;
    min-width: 22%;
    margin-left: 10px;

    img {
      height: auto;
      object-fit: cover;
    }
  }

  .border {
    border-bottom: 0.5px solid var(--light-light-grey);
  }

  .card {
    background-color: var(--light-light-grey);
    position: relative;
    min-height: 100%;
    min-width: 22%;
    margin: 0 10px;
    border-radius: 16px;

    .card-container {
      margin-top: 20px;
      width: 90%;

      .card-container__title {
        background-color: var(--light-green);
        color: var(--white);
        padding: 15px;
        border-radius: 48px;
      }

      .card-container__skills-container {
        flex-wrap: wrap;
        width: 100%;

        .skills-container__skill {
          text-align: center;
          min-width: 10%;
          background-color: var(--light-grey);
          color: var(--black);
          padding: 10px 15px;
          border-radius: 48px;
          margin: 2%;
        }
      }

      .container-white {
        background-color: var(--white);
        border-radius: 16px;
        margin: 2%;
      }

      .card-container__courses {
        width: 100%;
        align-items: center;
        justify-content: center;
        .card-container__courses-container {
          margin: 2%;

          .card-container__courses-container-title {
            font-weight: 600;
            font-size: 20px;
            margin: 2%;
            line-height: 23px;
            text-align: center;
          }

          .card-container__courses-container-text {
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 2%;
            padding: 3px;
            text-align: center;

          }
        }
      }

      .task {
        text-align: center;
        margin: 2%;
        line-height: 26px;
      }

      .card-container__btns {
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        bottom: 2%;

        .btns {
          padding: 10px 25px;
          color: var(--white);
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          border-radius: 48px;
        }

        .card-container__btn-city {
          background-color: var(--dark-grey);
          margin-right: 2%;
        }

        .card-container__btn-status {
          background-color: var(--light-green);
        }
      }
    }
  }
}



.btn-talk-with-users {
    font-size: 14px;
    padding: 20px;
    border-radius: 49px;
    color: var(--brown);
    background-color: var(--salad);
    margin: 3%;
  }


@media (min-width: 1600px) {

  .height {

    height: 1000px;

    .card {

      .card-container {

        .card-container__title {
          padding: 25px 15px;
        }

        .card-container__skills-container {

          .skills-container__skill {
            min-width: 15%;
            padding: 15px;
            margin: 3%;
          }
        }

        .container-white {
          margin: 3%;
        }

        .card-container__courses {
          .card-container__courses-container {
            margin: 3%;

            .card-container__courses-container-title {
              margin: 3%;
              line-height: 26px;
            }

            .card-container__courses-container-text {
              font-size: 20px;
              margin-bottom: 3%;
            }
          }
        }

        .task {
          margin: 3%;
          font-size: 20px;
        }

        .card-container__btns {
          position: absolute;
          margin: auto;
          right: 0;
          left: 0;
          bottom: 2%;

          .btns {
            padding: 15px 30px;
            font-size: 20px;
            line-height: 26px;
          }
        }
      }
    }
  }


  .btn-talk-with-users {
    font-size: 18px;
    line-height: 26px;
    padding: 25px;
  }

}

@media (max-width: 1288px) {

  section {

    .btn-talk-with-users {
      margin: 7% 3%;
      font-size: 12px;
      line-height: 16px;
    }

    .section4-container {
      width: 80%
    }

    .height{
      flex-direction: column;
      align-items: center;
      height: auto;

      .w-24 {
        height: 100%;
        min-width: 90%;
        margin-left: 0;
      }
      .card {
        height: 700px;
        min-width: 90%;
        margin: 0 0 20px;
        align-items: start;
        justify-content: center;
        .card-container {
          width: 85%;
          align-items: center;
          .card-container__skills-container {
            .skills-container__skill {
              min-width: 15%;
              border-radius: 38px;
              font-size: 12px;
              line-height: 14px;
              padding: 7px;
              margin: 2%;
            }
          }
          .card-container__title {
            padding: 10px;
            width: 60%;
          }
          .card-container__courses {
            .card-container__courses-container {
              width: 90%;
              .card-container__courses-container-title {
                font-size: 16px;
                line-height: 20px;
              }

              .card-container__courses-container-text {
                padding: 10px 0;
                width: 80%;
                font-size: 12px;
                line-height: 15px;
              }
            }
          }

          .w-80 {
            width: 100%;
          }

          .task {
            padding: 10px 0;
            font-size: 12px;
            line-height: 15px;
          }

          .card-container__btns {
            .btns {
              font-size: 14px;
              line-height: 16px;
              margin-right: 30px;
              padding: 12px 25px;
            }
          }
        }
      }
    }
  }
}
