<section class="mb-100 w-100 direction-column a-1-center j-c-center">
  <div class="d-flex j-c-center a-1-center section4-container mb-100">
    <h1 class="section4-container__title">{{naming.h1Section4}}<b>{{naming.h11Section4}}</b></h1>
  </div>

  <div class="d-flex direction-row w-100 j-c-space-between">
    <!--  цикл самой карточки-->
    @for (item of items; track item.id){
      <div class="d-flex card a-1-start j-c-center">
        <div class="d-flex direction-column card-container">
          <div class="card-container__title d-flex a-1-center j-c-center mb-10">{{item.profession}}</div>
          <!--      цикл навыков -->
          <div class="card-container__skills-container d-flex direction-row j-c-center">
            @for (x of item.skills.slice(0,3); track x){
              <div class="skills-container__skill">{{x.name}}</div>
            }
          </div>
          <div class="card-container__courses container-white d-flex">
            <div class="card-container__courses-container direction-column j-c-center a-1-center d-flex">
              <div class="card-container__courses-container-title">{{naming.courses}}</div>
              <div class="card-container__courses-container-text">,nxzjhv gusdhgu esdh gdsuh gue xnbvjhds dsguegev shh gfeegr ytr ytyjjgeytg</div>
            </div>
          </div>
          <div class="card-container__courses container-white d-flex">
            <div class="card-container__courses-container direction-column j-c-center a-1-center d-flex">
              <div class="card-container__courses-container-title">{{naming.skills}}</div>

              <div class="card-container__skills-container d-flex direction-row j-c-center mb-20">
                @for (x of item.skills.slice(0,3); track x){
                  <div class="skills-container__skill">{{x.name}}</div>
                }
              </div>

              <div class="card-container__courses-container-title">{{naming.tasks}}</div>

              <div class="d-flex a-1-center j-c-center direction-column">
                <!--      цикл задач -->
                @for (x of item.tasks; track x){
                  <div class="task">{{x.name}}</div>
                }
              </div>
            </div>
          </div>
          <div class="d-flex direction-row j-c-center mt-10 card-container__btns">
            <div class="card-container__btn-city btns">{{item.city}}</div>
            <div class="card-container__btn-status btns">{{item.status}}</div>
          </div>
        </div>
      </div>
    }
    <div class="relative w-24">
      <img class="w-100" src="/images/4section.svg" alt="picture4"/>
      <div class="d-flex absolute direction-column btn-container">
        <button class="filter mb-20">{{naming.filter}}</button>
        <button class="allCandidates">{{naming.allCandidates}}</button>
      </div>
    </div>
  </div>
  <div class="d-flex w-100 j-c-center a-1-center">
    <a href="#" class="btn-talk-with-users">{{naming.talkWithCandidates}}</a>
  </div>
</section>
