<div *ngIf="(resume|async) as _resume" class="d-flex container-main mt-40 mobile">
  <app-candidate-aside [resume]="_resume" [hideButtons]="true">
    <button class="btns btn3 mb-20" [disabled]="success"
            (click)="addResponse(_resume?.id)">{{success || 'Пригласить'}}</button>
  </app-candidate-aside>
  <div class="d-flex w-70">
    <app-candidate-info [hideButton]="true" [resume]="_resume"/>
  </div>
  <div class="container-fixed w-100" *ngIf="showModal">
    <app-modal></app-modal>
  </div>
</div>




