<div *ngIf="(resume|async) as _resume" class="d-flex container-main mt-40 mobile">
  <app-candidate-aside [resume]="_resume" [hideButtons]="true">
    <div ngProjectAs='contacts'>
      <div class="mt-20 sub-btn" *ngIf="_resume.worker?.phone">{{_resume.worker?.phone| phone}}</div>
    </div>
    <button class="btns btn3 mb-20" [disabled]="(success|async)"
            (click)="addResponse(_resume?.id)">{{(success|async) || 'Откликнуться'}}</button>
  </app-candidate-aside>
  <div class="d-flex w-70">
    <app-candidate-info [hideButton]="true" [resume]="_resume"/>
  </div>
</div>





