.container {
  width: 90%;
  margin: 0 auto 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-component {
  padding-top: 86px;
  min-height: calc(100vh - 86px);
  background-color: var(--background-profile);
  display: flex;
  justify-content: center;
}
