<div class="d-flex direction-column card-border" (click)="viewVacancy()">
  <div class="specialisation">Специализация: {{item?.specialization?.name}}</div>
  <a [routerLink]="'' + item?.id"><h2 class="mb-10">{{item?.vacancy}}</h2></a>
  <div class="sub-text mb-10">{{item?.description}}</div>
  <h3 *ngIf="item?.price_from || item?.price_to">{{item?.price_from|price}} - {{item?.price_to|price}}</h3>
  <h4 *ngIf="item?.price_by_agree">по договоренности</h4>
  <div class="d-flex direction-row sub-text a-1-center j-c-start">
    <img [src]="item?.company?.image  || 'images/profile.svg'" class="logo mr-10" alt="picture"/>
    <div class="mr-10 companyName">{{item?.company?.name}}</div>
    <div class="mr-10 sub-btn">{{item?.city?.name}}</div>
    <online [online]="item?.company?.is_online"/>
  </div>
</div>
