:host{
  width: 100%;

  .footer {
    padding: 40px;
    color: var(--white);
    background: var(--background-footer);
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
  }
}

@media (max-width: 1125px){
  :host{
    .footer {
      font-size: 14px;
      line-height: 25px;
    }
  }
}

