<form (submit)="signUp($event)" class="d-flex a-1-start j-c-center w-100 height">
  <div class="container d-flex direction-column w-30">
    <div class="form__titles d-flex direction-column a-1-center j-c-center mb-20">
      <h2 class="form__title mb-10">{{naming.verifyRegistration}}</h2>
      <div class="form__sub-title">текст текст текст текст</div>
    </div>
    <div class="form__items d-flex direction-column">
      <input name="code" class="input mb-10" required placeholder="введите код"/>
      <span *ngIf="errors.code" class="error">{{errors.code?.join(',')}}</span>
      <button class="form__btn-enter mb-20" type="submit">{{naming.sendCode}}</button>
      <button class="form__btn-send" type="button" (click)="signUp(null)">{{naming.sendCodeAgain}}</button>
    </div>
  </div>
</form>

