.section5__list {
  li {
    margin-bottom: 10px;
  }
}

.container-section1__links {
  .container-section1__link-performer1 {
    text-align: center;
    color: var(--brown);
    background-color: var(--light-orange);
    border-radius: 43px;
    padding: 18px;
  }
}


@media (min-width: 1600px){
  .section5__list {
    li {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1150px) {

  section {

    .j-c-space-between {
      flex-direction: column;
    }

    .w-45 {
      width: 100%;
    }

    .container-section1__links {
      flex-direction: column;
      width: 100%;
      font-size: 13px;
      line-height: 15px;

      .radius {
        padding: 25px 0;
      }

      .container-section1__link-customer {
        margin-bottom: 10px;
      }

      .w-30 {
        width: 200px;
      }
    }
  }



}
