<section class="w-100 mb-100 direction-column j-c-center a-1-center d-flex">
  <div class="d-flex w-100 j-c-center a-1-center">
    <h1 class="mb-20">{{naming.h1Section5}}</h1>
  </div>
  <div class="d-flex w-100 j-c-space-between">
    <div class="w-45">
      <img src="/images/5section1.svg" alt="picture5"/>
      <div class="mt-10 mb-10 section5__subtitle">{{naming.employer}}</div>
      <ul class="section5__list">
        <li><b>{{naming.item1sec5}}</b>{{naming.item1sec55}}</li>
        <li><b>{{naming.item2sec5}}</b>{{naming.item2sec55}}</li>
        <li>{{naming.item3sec5}}<b>{{naming.item3sec55}}</b></li>
        <li><b>{{naming.item4sec5}}</b></li>
        <li><b>{{naming.item5sec5}}</b>{{naming.item5sec55}}</li>
      </ul>
    </div>
    <div class="w-45">
      <img src="/images/5section2.svg" alt="picture6"/>
      <div class="mt-10 mb-10 section5__subtitle">{{naming.performer}}</div>
      <ul class="section5__list">
        <li><b>{{naming.item6sec5}}</b>{{naming.item6sec5}}</li>
        <li><b>{{naming.item7sec5}}</b>{{naming.item7sec55}}</li>
        <li><b>{{naming.item8sec5}}</b></li>
        <li>{{naming.item9sec5}}<b>{{naming.item9sec5}}</b></li>
        <li><b>{{naming.item10sec5}}</b></li>
      </ul>
    </div>
  </div>
  <div class="d-flex a-1-center j-c-center container-section1__links w-70">
    <a class="container-section1__link-customer radius w-30">{{naming.vacancy}}</a>
    <a class="container-section1__link-performer1 w-30">{{naming.addProfile}}</a>
  </div>
</section>
