<section class="w-100 mb-100 direction-column j-c-center a-1-center d-flex">
  <div class="d-flex w-100 j-c-center a-1-center">
    <h1 class="mb-20">{{naming.h1Section5}}</h1>
  </div>
  <div class="d-flex w-100 j-c-space-between">
    <div class="w-45">
      <img src="/images/5section1.svg" alt="picture5"/>
      <div class="mt-10 mb-10 section5__subtitle">{{naming.employer}}</div>
      <ul class="section5__list" *ngIf="settings.content | async; let content;">
        <li *ngFor="let item of content.advantages_company | splitString">
          <markdown [data]="item"></markdown>
        </li>
      </ul>
    </div>
    <div class="w-45">
      <img src="/images/5section2.svg" alt="picture6"/>
      <div class="mt-10 mb-10 section5__subtitle">{{naming.performer}}</div>
      <ul class="section5__list" *ngIf="settings.content | async; let content;">
        <li *ngFor="let item of content.advantages_worker | splitString">
          <markdown [data]="item"></markdown>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex a-1-center j-c-center container-section1__links w-70 mb-100">
    <a class="container-section1__link-customer radius w-30">{{naming.vacancy}}</a>
    <a class="container-section1__link-performer1 w-30">{{naming.addProfile}}</a>
  </div>
</section>
