.height {

  height: 800px;

  .border {
    border-bottom: 0.5px solid var(--light-light-grey);
  }


  .card {
    width: 24%;
    position: relative;
    min-height: 100%;
    background-color: var(--light-light-grey);
    border-radius: 16px;

    .card-container {
      margin-top: 20px;
      width: 90%;

      .card-container__company {
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
      }

      .card-container__role {
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
      }

      .card-container__title {
        background-color: var(--light-green);
        color: var(--white);
        padding: 15px;
        border-radius: 48px;
      }

      .card-container__skills-container {
        flex-wrap: wrap;
        width: 100%;

        .skills-container__skill {
          text-align: center;
          min-width: 10%;
          background-color: var(--light-grey);
          color: var(--white);
          padding: 10px 15px;
          border-radius: 48px;
          margin: 2px;
        }
      }

      .container-white {
        background-color: var(--white);
        border-radius: 16px;
        margin: 10px 0 5px;
      }

      .card-container__courses-container {
        background-color: var(--white);
        border-radius: 16px;
        margin: 2%;

        .card-container__courses-container-title {
          margin-top: 10px;
          font-weight: 600;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
        }

        .card-container__courses-container-text {
          font-weight: 300;
          font-size: 18px;
          line-height: 26px;
        }
      }

      .task {
        text-align: center;
        padding: 10px 0;
        line-height: 20px;
      }

      .card-container__btns {
        font-size: 20px;
        font-weight: 500;
        line-height: 16px;

        .card-container__btn {
          padding: 15px 20px;
          background-color: var(--light-grey);
          border-radius: 28px;
        }

      }

      .text__btn {
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        bottom: 20px;
      }

      .btn {
        padding: 15px 30px;
        color: var(--white);
        background-color: var(--dark-grey);
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        border-radius: 48px;
        text-align: center;
      }
    }
  }
}

.container-section1__links {

  .container-section1__link-performer1 {
    text-align: center;
    background-color: var(--light-orange);
    color: var(--brown);
  }

  .radius {
    padding: 20px 30px;
  }

  .container-section1__link-filter {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.44);
  }
}

@media (min-width: 1600px){

  .height {

    height: 900px;

    .card {
      height: 100%;
      .card-container {

        .card-container__company {
          font-size: 30px;
          line-height: 35px;
        }

        .card-container__role {
          font-size: 20px;
          line-height: 26px;
        }

        .card-container__title {
          padding: 25px 15px;
        }

        .card-container__skills-container {

          .skills-container__skill {
            min-width: 15%;
            padding: 15px;
            margin: 3%;
          }
        }

        .card-container__courses-container {

          .card-container__courses-container-title {
            font-size: 22px;
            line-height: 28px;
          }

          .card-container__courses-container-text {
            font-size: 20px;
            line-height: 26px;
          }
        }

        .task {
          font-size: 20px;
          line-height: 26px;
        }

        .card-container__btns {
          font-size: 20px;
          line-height: 26px;

        }

        .btn {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
  }


  .container-section1__links {

    button {
      font-size: 17px;
      line-height: 21px;
      font-weight: 500;
      margin: 40px 25px 0 0;
    }

    .container-section1__link-filter {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;

    }

    .radius {
      padding: 20px;
      width: 200px;
    }

    button, a {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 5%;
    }
  }

}

@media (max-width: 1288px) {
  section {

    .height {
      flex-direction: column;
      align-items: center;
      height: auto;
      .card {
        height: 750px;
        min-width: 90%;
        margin: 0 0 20px;
        align-items: start;
        justify-content: center;
        .card-container {
          width: 85%;
          align-items: center;
          .card-container__company {
            font-size: 16px;
            line-height: 19px;
          }

          .card-container__role {
            font-size: 12px;
            line-height: 14px;
          }

          .card-container__title {
            padding: 12px 20px;
            font-size: 16px;
            line-height: 19px;
          }

          .card-container__skills-container {

            .skills-container__skill {
              min-width: 15%;
              border-radius: 38px;
              font-size: 12px;
              line-height: 14px;
              padding: 7px;
              margin: 2%;
            }
          }

          .card-container__courses-container {
            width: 100%;
            .card-container__courses-container-title {
              width: 50%;
              font-size: 16px;
              line-height: 19px;
            }

            .card-container__courses-container-text {
              font-size: 12px;
              line-height: 14px;
            }
          }

          .border {
            width: 70%;
          }

          .task {
            text-align: center;
            margin: 5px 0;
            font-size: 12px;
            line-height: 14px;
          }

          .card-container__btns {
            .btns {
              font-size: 14px;
              line-height: 17px;
            }
          }
        }
      }
    }
  }



  .container-section1__links {

    .container-section1__link-filter {
      font-size: 16px;
      line-height: 19px;

    }

    flex-direction: column;

    .radius {
      padding: 20px;
      width: 200px;
    }

    button, a {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 5%;
    }
  }
}




