<div class="d-flex direction-column j-c-start a-1-center container-border w-80 padding-top30">
  <div class="d-flex j-c-center a-1-center w-100 relative">
    <div class="w-100 a-1-center j-c-center d-flex">
      <img #ref class="img-profile circle" [src]="candidate?.image || 'images/profile.svg'" alt="profile"/>
    </div>
    <label for="select-image" class="d-flex container__img-plus absolute pointer">
      <input style="width:0;height:0;opacity:0;position: absolute" id="select-image" type="file"
             (change)="selectFile($event)">
      <img src="images/button_plus.svg" alt="img-button"/>
    </label>
  </div>
  <div class="d-flex direction-column j-c-center a-1-center mb-100">
    <div class="d-flex direction-row container__title mb-5">
      {{candidate?.name}}
    </div>
    <div class="sub-title mb-10">{{candidate?.resume?.specialization?.name}}</div>
    <a *ngIf="!hideButtons" routerLink="/create_profile" class="change-btn mb-20">{{naming.change}}</a>
    <div class="direction-row d-flex w-100 j-c-center a-1-center">
      <div class="sub-btn mr-10">{{candidate?.resume?.city?.name}}</div>
      <online [online]="candidate?.is_online" type="medium"/>
    </div>

    <div>
      <div class="mt-20 sub-btn" *ngIf="candidate?.email">{{candidate?.email}}</div>
      <div class="mt-20 sub-btn" *ngIf="candidate?.phone">{{candidate?.phone| phone}}</div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
