<div class="d-flex a-1-start j-c-center w-100 height" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="container d-flex direction-column w-30">
    <div class="container__links d-flex j-c-space-around">
      <button
        routerLink="signin"
        routerLinkActive="active"
        class="link"
        type="button"
      >{{naming.sighInCandidate}}</button>
      <button
        routerLink="signup"
        [queryParams]="{is_company: 1}"
        routerLinkActive="active"
        class="link text-nowrap"
        type="button"
      >{{naming.sighUpCandidate}} {{type === ECustomerType.COMPANY ? 'компании' : (type === ECustomerType.WORKER ? 'соискателя' : '')}}</button>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>






