.container {
  width: 25%;
  margin: auto;
  padding: 40px;
  min-height: 300px;
  background-color: var(--white);
  border-radius: 20px;
}

.container__links {
  width: 55%;
  margin: 0 auto 40px;

  .link {
    color: var(--light-grey);
    font-size: 24px;
    line-height: 28px;

    &:hover, &:active, &.active {
      font-weight: 600;
      color: var(--dark-grey);
      border-bottom: 2px solid var(--dark-grey);
    }
  }
}

.input {
  height: 65px;
  border: 1px solid var(--light-light-grey);
  border-radius: 88px;
  padding-left: 30px;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: var(--light-light-grey);
  }
}

.form__btn-enter {
  height: 65px;
  border-radius: 88px;
  color: var(--white);
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--dark-orange);

  &.company {
    background-color: var(--light-green);
  }
}

.form__sub-text {
  margin: 0 auto 0;
  width: 80%;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.form__titles {
  color: var(--dark-grey);

  .form__sub-title {
    font-size: 20px;
    line-height: 26px;
  }
}

.form__btn-send {
  font-size: 18px;
  line-height: 22px;
  color: var(--light-grey);
}

@media (min-width: 1151px) and (max-width: 1660px) {
  .container {
    width: 40%;
    padding: 40px;
  }
}

@media (min-width: 801px) and (max-width: 1150px) {
  .container {
    width: 60%;
    padding: 40px;
    margin: auto auto 40px auto;
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .container {
    width: 80%;
    padding: 20px;
    border-radius: 12px;
    min-height: 200px;
    margin: auto auto 20px auto;
  }
}

@media (max-width: 1150px) {

  .tab-buttons {
    .tab-button {
      height: 41px;
      font-size: 15px;
      line-height: 18px;

      &.left {
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
      }

      &.right {
        border-top-right-radius: 55px;
        border-bottom-right-radius: 55px;
      }
    }
  }

  .container__links {
    margin: 0 auto 20px;

    .link {
      font-size: 15px;
      line-height: 18px;

      &:hover, &:active, &.active {
        border-bottom: 1px solid var(--dark-grey);
      }
    }
  }

  .input {
    height: 41px;
    border-radius: 55px;

    &::placeholder {
      font-size: 10px;
      line-height: 12px;
    }
  }

  .form__btn-enter {
    height: 41px;
    border-radius: 55px;
    font-size: 15px;
    line-height: 18px;
  }

  .form__sub-text {
    width: 90%;
    font-size: 8px;
    line-height: 9px;
  }

  .form__titles {
    .form__title {
      font-size: 15px;
      line-height: 18px;
    }

    .form__sub-title {
      font-size: 13px;
      line-height: 16px;
    }
  }

  .form__btn-send {
    font-size: 11px;
    line-height: 13px;

  }

}
