<div class="d-flex j-c-start a-1-start container">
  <div class="container-main d-flex direction-column">
    <div class="d-flex direction-column">
      <h1 class="mt-40 mb-10">Рассказать о компании</h1>
      <div class="title">Текст*</div>
      <label class="subtitle mb-10">текст текст текст</label>
      <textarea class="area mb-100"></textarea>
    </div>
    <div class="d-flex a-1-center j-c-center">
      <button class="btn-sub mb-20">{{ naming.save }}</button>
    </div>
  </div>
</div>
