<div class="d-flex direction-column w-70">
  <h2>Вакансия Название</h2>
  <div>Стеки</div>
  <div class="d-flex direction-row">
    @for (item of items; track item){
      <div>{{item.name}}</div>
    }
  </div>
  <div>Какие навыки прокачаете</div>
  <div>текст текст текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст текст текст текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст
  </div>
  <div>Какие задачи будете решать</div>
  <div>текст текст текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст текст текст текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст
  </div>
  <div>Потенциал развития в роль</div>
  <div>текст текст текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст текст текст текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст
  </div>
  <div>Предложение</div>
  <div class="d-flex direction-row">
    <div class="d-flex direction-row">
      <label>От</label>
      <input/>
    </div>
    <div class="d-flex direction-row">
      <label>До</label>
      <input/>
    </div>
    <div class="d-flex direction-row">
      <input type="checkbox"/>
      <label>По договоренности</label>
    </div>
  </div>
  <div>Дополнительные бенефиты</div>
  <div>текст текст текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст текст текст текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст
  </div>
  <div>Дополнительный комментарий</div>
  <div>текст текст текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст текст текст текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст екст текст текст текст текстекст текст текст текст текстекст текст текст текст текст
    текст
  </div>
</div>
