@media (max-width: 1125px) {
  .section3-container {

    .section3-container__h1 {
      font-size: 30px;
      line-height: 30px;
    }

    .section3-container__subtitle {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
