<section class="mb-100 w-100 direction-column a-1-center j-c-center d-flex">
  <div class="w-80 d-flex j-c-center a-1-center mb-20">
    <h1 class="mt-10 mb-20">{{naming.h1Section9}}</h1>
  </div>
  <div class="d-flex direction-row j-c-space-between w-100 mt-10">
    <div class="w-50 mr-30">
      <img src="/images/9section1.svg" alt="picture9"/>
    </div>
    <div class="d-flex direction-column w-40">
      <div class="section5__subtitle mb-20">{{naming.boss}}</div>
      <article class="article mb-10">{{naming.article1}}</article>
      <div class="mb-10 section5__list">{{naming.item1sec9}}</div>
      <div class="mb-20 section5__list">{{naming.item2sec9}}</div>
      <article class="article">{{naming.article2}}</article>
    </div>
  </div>
  <div class="d-flex direction-row j-c-space-between w-100 mb-10">
    <div class="w-50 mr-30">
      <img src="/images/9section2.svg" alt="picture10"/>
    </div>
    <div class="d-flex direction-column w-40">
      <div class="section5__subtitle mb-20">{{naming.notBoss}}</div>
      <ul class="section5__list">
        <li>{{naming.item3sec9}}</li>
        <li>{{naming.item4sec9}}</li>
        <li>{{naming.item5sec9}}</li>
      </ul>
      <div>Достаточно</div>
      <ul class="section5__list">
        <li>{{naming.item6sec9}}</li>
        <li>{{naming.item7sec9}}</li>
        <li>{{naming.item8sec9}}</li>
        <li>{{naming.item9sec9}}</li>
        <li>{{naming.item10sec9}}</li>
        <li>{{naming.item11sec9}}</li>
      </ul>
    </div>
  </div>
</section>
