<section class="d-flex w-100 mb-100 j-c-space-between">
  <div class="d-flex direction-column w-50">
    <h1 class="mb-20">{{naming.h1Section11}}</h1>
    <div class="section11-text">njgfdg hetewh gheutehrutetukyu higueyh hruyeiyeuiyeur rhireyr gjriur reeliyureiyur jrhreiur yur hriyeruryoi uro
      njgfdg hetewh gheutehrutetukyu higueyh hruyeiyeuiyeur rhireyr gjriur reeliyureiyur jrhreiur yur hriyeruryoi uro
      njgfdg hetewh gheutehrutetukyu higueyh hruyeiyeuiyeur rhireyr gjriur reeliyureiyur jrhreiur yur hriyeruryoi uro
      njgfdg hetewh gheutehrutetukyu higueyh hruyeiyeuiyeur rhireyr gjriur reeliyureiyur jrhreiur yur hriyeruryoi uro
    </div>
  </div>

  <form class="d-flex direction-column section11-form">
    <div class="d-flex direction-column a-1-start">
      <label class="mb-10 ">{{naming.name}}</label>
      <input placeholder="Ваше имя"/>
    </div>
    <div class="d-flex direction-column a-1-start">
      <label class="mb-10">{{naming.email}}</label>
      <input placeholder="Ваша почта"/>
    </div>
    <div class="d-flex direction-column a-1-start mb-20">
      <label class="mb-10">{{naming.phone}}</label>
      <input placeholder="Ваш телефон"/>
    </div>
    <div class="d-flex a-1-center j-c-center mt-10">
      <button class="section11-form__btn" type="submit">{{naming.submit}}</button>
    </div>
  </form>
</section>
