<form (submit)="send($event)" class="container-form d-flex direction-column relative">
  <button class="absolute close" type="button" (click)="close.emit()">закрыть</button>
  <div class="d-flex w-100 direction-column mb-20">
    <label class="label relative">Тариф*</label>
    <app-custom-select
      [items]="(settings.tariffs|async)"
      labelFieldName="name"
      valueFieldName="name"
      placeholder="выбрать"
      name="tariff"
    />
  </div>
  <div class="d-flex w-100 direction-column mb-20">
    <label class="label relative">Имя*</label>
    <input name="name" required class="input-form"/>
  </div>
  <div class="d-flex w-100 direction-column mb-20">
    <label class="label relative">Название компании*</label>
    <input name="company" required class="input-form"/>
  </div>
  <div class="d-flex w-100 direction-column mb-20">
    <label class="label relative">Телефон*</label>
    <input name="phone" required class="input-form"/>
  </div>
  <div class="d-flex w-100 direction-column mb-20">
    <label class="label relative">E-mail</label>
    <input name="email" type="email" class="input-form"/>
  </div>
  <button class="submit m-auto">отправить</button>
</form>
