<div *ngIf="((vacancy|async) || viewVacancy) as _vacancy" class="d-flex direction-column w-100">
  <h1 class="mb-40">{{_vacancy?.vacancy}}</h1>
  <div class="d-flex container-border padding10 mb-40">
    <div class="sub_title">{{naming.speciality1}}:</div>
    <div class="sub_title ml-10">{{_vacancy?.specialization?.name}}</div>
  </div>
  <div class="d-flex direction-column j-c-center a-1-center container-border padding10 mb-40 mobile-container">
    <div class="sub_title mb-20">{{naming.stack}}</div>
    <div class="d-flex direction-row a-1-center j-c-center w-80 flex-wrap">
      <div *ngFor="let skill of _vacancy?.skills" class="skill">{{skill.name}}</div>
    </div>
  </div>
  <div class="d-flex direction-column container-border padding10 mb-40">
    <div class="sub_title mb-20">{{naming.whichSkills1}}</div>
    <div class="sub-title__text mb-20">{{_vacancy?.skills_description}}</div>
  </div>
  <div class="d-flex direction-column container-border padding10 mb-40">
    <div class="sub_title mb-20">{{naming.whichTasks1}}</div>
    <div class="sub-title__text mb-20">{{_vacancy?.description}}</div>
  </div>
  <div class="d-flex direction-column container-border padding10 mb-40">
    <div class="sub_title mb-20">{{naming.whichProgress1}}</div>
    <div class="sub-title__text mb-20">{{_vacancy?.growth_description}}</div>
  </div>

  <div class="d-flex direction-column container-border padding10 mb-40">
    <div class="sub_title mb-20">{{naming.whichOffer}}</div>
    <div *ngIf="_vacancy?.price_from || _vacancy?.price_to" class="d-flex mb-20">
      <div class="sub-title__text">от {{_vacancy?.price_from | price}} до {{_vacancy?.price_to | price}}</div>
    </div>
    <div *ngIf="_vacancy?.price_by_agree" class="sub-title__text">по договоренности</div>
  </div>

  <div class="d-flex direction-column container-border padding10 mb-40">
    <div class="sub_title mb-20">{{naming.benefits1}}</div>
    <div class="sub-title__text mb-20">{{_vacancy?.benefits}}</div>
  </div>
  <div class="d-flex direction-column container-border padding10 mb-40">
    <div class="sub_title mb-20">{{naming.comment1}}</div>
    <div class="sub-title__text mb-20">{{_vacancy?.comment}}</div>
  </div>
  <div *ngIf="!hideButtons" class="w-100 d-flex a-1-center j-c-center mb-40">
    <button class="btn-change"
            [routerLink]="'/company_profile/vacancies/'+_vacancy.id+'/edit'">{{naming.change}}</button>
    <button class="btn-sub">X откликов</button>
    <button type="button" (click)="delete()" class="btn-change">{{naming.delete}}</button>
  </div>
</div>
