<div class="d-flex w-100 j-c-space-between">
  <div class="d-flex direction-column j-c-center a-1-center w-30">
    <div class="d-flex j-c-center a-1-center">
      <div>
        <img src="images/profile.svg" alt="profile"/>
      </div>
      <div>
        <img src="images/button_plus.svg" alt="button"/>
      </div>
    </div>
    <div class="d-flex direction-column j-c-center a-1-center mb-100">
      <div>Компания</div>
      <div class="direction-row d-flex">
        <div>{{naming.cityMy}}</div>
        <div>{{naming.workForm}}</div>
      </div>
    </div>
    <div class="d-flex direction-column">
      <button routerLink="personal_data">{{naming.watchAll}}</button>
      <button routerLink="responses">{{naming.doResponse}}</button>
    </div>
  </div>
  <div>
    <app-allVacancy></app-allVacancy>
  </div>
</div>

