@import "fonts";

:root {
  --black: rgb(0, 0, 0);
  --white: #ffffff;
  --brown: #56413B;
  --dark-green: #688281;
  --light-green: #74A475;
  --light-light-green: #A2C2A3;
  --dark-grey: #263238;
  --light-grey: #A0A0A0;
  --light-light-grey: #D9D9D9;
  --dark-orange: #E19379;
  --light-orange: #F9C0AD;
  --background-profile: #E7E7E7;
  --background-footer: #5E5E5E;
  --salad: #CDE9B7CC;
}


.custom-scrollbar {
  --scrollbar-thickness: 10; /* Толщина полосы прокрутки */
  --scrollbar-track-color: #D9D9D9; /* Цвет трека полосы прокрутки */
  --scrollbar-thumb-color: #A0A0A0; /* Цвет бегунка полосы прокрутки */
  --scrollbar-border-radius: 10px; /* Закругление углов бегунка */

  .custom-track {
    width: 3px !important;
  }

  .custom-thumb {
    width: 10px !important;
    left: -4px;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'SF UI Display Regular';
}

a {
  cursor: pointer;
  text-decoration: transparent;
  color: var(--black);
}

button {
  font-family: 'SF UI Display Regular';
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  color: var(--black);

  &:hover {
    border: none;
    background-color: transparent;
  }

  &:disabled {
    opacity: .6;
  }
}

* {
  overflow-wrap: break-word;
}

label[for] {
  cursor: pointer;
}

ul {
  padding-inline-start: 0;

  li {
    padding-left: 30px;
    list-style: none;
    background: url("/images/marker.svg") no-repeat left center;
  }
}

.circle {
  border-radius: 1000px;
  overflow: hidden;
}

markdown p {
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
}

h2 {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

input, select, textarea {
  font-family: 'SF UI Display Regular';
  outline: none;
  font-size: 17px;

  &:disabled {
    opacity: .6;
  }
}

select {
  display: block;
  border: transparent;
  cursor: pointer;
}

.container-main {
  width: 80%;
  margin: 0 auto 0;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.j-c-space-between {
  justify-content: space-between;
}

.j-c-space-around {
  justify-content: space-around;
}

.j-c-end {
  justify-content: end;
}

.j-c-center {
  justify-content: center;
}

.j-c-start {
  justify-content: start;
}

.a-1-center {
  align-items: center;
}

.a-1-start {
  align-items: start;
}

.a-1-end {
  align-items: end;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-55 {
  width: 55%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}

.w-6 {
  width: 6%;
}

.mb-100 {
  margin-bottom: 6%;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-30 {
  margin-left: 30px;
}

.gap-4 {
  gap: 4px;
}

.gap-5 {
  gap: 5px;
}

.gap-8 {
  gap: 8px;
}

.gap-10 {
  gap: 10px;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.padding-top30 {
  padding-top: 30px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-nowrap {
  white-space: nowrap;
}

.container-border {
  border: 1px solid var(--light-light-grey);
  border-radius: 20px;
}

router-outlet {
  display: none;
}

.notifier__container {
  position: fixed;
  top: 100px;
  right: 30px;
  width: 300px;

  .notifier__container-list-item {
    background: none;
    padding: 0;
  }

  .notifier__notification {
    .notifier__notification-message {
      padding: 10px;
      border: 1px solid gainsboro;
      border-radius: 4px;
      margin: 0 0 10px;
    }

    &--error {
      .notifier__notification-message {
        border: 1px solid #ff9e9e;
        background: #ffd8d8;
      }
    }
  }
}

.container-section1__links {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  a + a {
    margin-left: 20px;
  }

  .radius {
    border-radius: 43px;
    padding: 25px;
  }

  .container-section1__link-customer {
    text-align: center;
    background-color: var(--dark-orange);
    color: var(--white);
  }

  .container-section1__link-performer {
    text-align: center;
    background-color: var(--salad);
    color: var(--brown);
  }
}

.section3 {
  border-radius: 20px;
  background-color: var(--light-green);
  opacity: 80%;
  color: var(--white);
  padding: 50px 0;
  margin-bottom: 10%;

  .section3-container {
    text-align: center;

    .section3-container__h1 {
      line-height: 53px;
      margin-bottom: 10px;
    }

    .section3-container__subtitle {
      font-size: 20px;
      line-height: 35px;
      width: 75%;
    }
  }
}

.section5__subtitle {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.section5__list {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.tab-buttons {
  width: 100%;
  display: flex;

  input {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
  }

  .tab-button {
    width: 50%;
    height: 65px;
    border: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;

    &.left {
      border-top-left-radius: 88px;
      border-bottom-left-radius: 88px;
    }

    &.right {
      border-left-width: 0;
      border-top-right-radius: 88px;
      border-bottom-right-radius: 88px;
    }
  }

  input:checked + .tab-button {
    color: var(--white);
    background-color: var(--dark-orange);

    &.right {
      background-color: var(--light-green);
    }
  }
}

span.error {
  margin-top: -10px;
  color: red;
  margin-bottom: 10px;
  padding-left: 20px;
}

@media (max-width: 1150px) {

  .tab-buttons {
    .tab-button {
      height: 41px;
      font-size: 15px;
      line-height: 18px;

      &.left {
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
      }

      &.right {
        border-top-right-radius: 55px;
        border-bottom-right-radius: 55px;
      }
    }
  }

  .section3 {
    padding: 20px 0;

    .section3-container {
      width: 90%;

      .section3-container__h1 {
        line-height: 26px;
        font-size: 22px;
      }

      .section3-container__subtitle {
        font-size: 12px;
        line-height: 17px;
        width: 60%;
      }
    }
  }

  .section5__subtitle {
    font-size: 16px;
    line-height: 19px;
  }

  .section5__list {
    font-size: 12px;
    line-height: 20px;
  }

  .radius {
    border-radius: 36px;
    padding: 18px;
  }

  h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .container-main {
    width: 95%;
  }
}
