.section3-container__subtitle1 {
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  width: 90%;
}

@media (max-width: 1150px) {
  .section3 {
    width: 100%;
    padding: 20px 0;

      .section3-container__h1 {
        text-align: center;
        line-height: 26px;
        font-size: 22px;
        width: 80%;
      }

      .section3-container__subtitle1 {
        font-size: 12px;
        line-height: 17px;
        width: 80%;
      }
    }
  }

