.items-list {
  background-color: var(--white);
  width: 200px;
  top: 40px;
  right: 0;
  padding: 15px;
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  font-size: 18px;
  line-height: 34px;
}
