<div class="container-fixed-mobile w-100" *ngIf="menuMobile">
  <div class="d-flex w-100 j-c-end">
    <div class="drop-menu d-flex direction-column a-1-start j-c-start w-60">
      <div class="d-flex j-c-end a-1-start w-100">
        <button type="button" (click)="close()">
          <img src="images/close.svg" alt="close"/>
        </button>
      </div>
      <div class="link d-flex a-1-center j-c-center w-100" (click)="scroll('section7')">
        <div class="d-flex hover w-100">{{naming.mission}}</div>
      </div>
      <div class="link border d-flex a-1-center j-c-center w-100" (click)="scroll('section9')">
        <div class="d-flex hover w-100">{{naming.howItWorks}}</div>
      </div>
      <div class="link d-flex a-1-center j-c-center w-100" (click)="scroll('section6')">
        <div class="d-flex hover w-100">{{naming.partners}}</div>
      </div>
      <div class="link border d-flex a-1-center j-c-center w-100" (click)="scroll('section4')">
        <div class="d-flex hover w-100">{{naming.candidates}}</div>
      </div>
      <div class="link d-flex a-1-center j-c-center w-100" (click)="scroll('section8')">
        <div class="d-flex hover w-100">{{naming.projects}}</div>
      </div>
      <div class="link border d-flex a-1-center j-c-center w-100" (click)="scroll('section10')">
        <div class="d-flex hover w-100">{{naming.tariffs}}</div>
      </div>
      <div class="link d-flex a-1-center j-c-center w-100" (click)="scroll('footer')">
        <div class="d-flex hover w-100">{{naming.contacts}}</div>
      </div>
      <button class="btn-enter mb-20" type="button">
        <div>{{naming.callback}}</div>
      </button>
    </div>
  </div>
</div>
