<div class="d-flex container a-1-center j-c-center direction-column">
  <div class="container-main">
    <form class="d-flex a-1-center j-c-space-between form mb-40">
      <div class="d-flex container-search border a-1-center j-c-center w-30">
        <img src="images/search.svg" alt="search" class="mr-10"/>
        <input placeholder="поиск" class="w-100"/>
      </div>
      <app-custom-select
        [items]="(settings.content | async)?.work_format"
        placeholder="формат"
        labelFieldName="name"
        valueFieldName="name"
        name="specialization_id"
        class="width"
      />
      <app-custom-select
        [items]="[{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},]"
        labelFieldName="name"
        placeholder="город"
        valueFieldName="id"
        name="specialization_id"
        class="width"
      />
      <app-custom-select
        [items]="[{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},{id: 'бла бла бла', name: 'бла бла бла'},]"
        labelFieldName="name"
        placeholder="стеки"
        valueFieldName="id"
        name="specialization_id"
        class="width"
      />
      <button type="submit" class="btn-submit width">{{naming.buttonFind}}</button>
    </form>
    <div class="d-flex direction-row mb-20">
      <div class="sub-title ml-30">{{naming.find}}</div>
      <div class="sub-title ml-10"><b>4</b></div>
    </div>
    <app-card class="w-80"></app-card>
  </div>
</div>

