<div *ngIf="(vacancy|async) as _vacancy" class="d-flex container-main mt-40 mobile"
     [style.min-height]="(height.content | async)+'px'">
  <app-company-aside [vacancy]="_vacancy" [hideButtons]="true">
    <div ngProjectAs='contacts'>
      <div class="mt-20 sub-btn" *ngIf="_vacancy.company?.email">{{_vacancy.company?.email}}</div>
      <div class="mt-20 sub-btn" *ngIf="_vacancy.company?.phone">{{_vacancy.company?.phone| phone}}</div>
    </div>
    <button class="btns btn4 mb-10" routerLink="/search/vacancies" [queryParams]="{company_id: _vacancy?.company_id}">
      все вакансии компании
    </button>
    <button class="btns btn5 mb-20" [disabled]="success"
            (click)="addResponse(_vacancy?.id)">{{success || 'Откликнуться'}}</button>
  </app-company-aside>
  <div class="d-flex w-70">
    <div class="d-flex direction-column w-100">
      <div class="container-border mb-40">
        <div class="text mb-20">Информация о компании</div>
        <div class="subtext">{{_vacancy?.company?.description}}</div>
      </div>
      <div class="d-flex w-100">
        <app-vacancy [viewVacancy]="_vacancy" [hideButtons]="true"></app-vacancy>
      </div>
    </div>

  </div>
</div>


