<div class="d-flex direction-column card-border" (click)="viewResume()">
  <a [routerLink]="'' + item?.id"><h2 class="mb-10">Специализация: {{item?.specialization?.name}}</h2></a>
  <div class="skills-title mb-10">Владею инструментами</div>
  <div class="d-flex direction-row a-1-start j-c-start w-80 flex-wrap mb-40">
    <div *ngFor="let skill of item?.skills;" class="skill">{{skill.name}}</div>
  </div>
  <div class="d-flex direction-row sub-text a-1-center j-c-start">
    <img [src]="item?.worker?.image  || 'images/profile.svg'" class="logo mr-10" alt="picture"/>
    <div class="mr-10">{{item?.worker?.name}}</div>
    <!--    <div class="mr-10">{{item.lastName}}</div>-->
    <div class="mr-10 sub-btn">{{item?.city?.name}}</div>
    <div class="mr-10 sub-btn">{{item?.worker?.is_online ? naming.online : naming.offline}}</div>
  </div>
</div>
