@let profile = user.worker$ | async;
<div class="d-flex container-main mt-40 mobile">
  <div class="d-flex direction-column j-c-start a-1-start w-30">
    <div class="d-flex direction-column j-c-start a-1-center container-border w-80 padding-top30">
      <div class="d-flex j-c-center a-1-center w-100 relative">
        <div class="w-100 a-1-center j-c-center d-flex">
          <img class="img-profile" [src]="profile?.image || 'images/profile.svg'" alt="profile"/>
        </div>
        <div class="d-flex container__img-plus absolute">
          <img src="images/button_plus.svg" alt="img-button"/>
        </div>
      </div>
      <div class="d-flex direction-column j-c-center a-1-center mb-100">
        <div class="d-flex direction-row container__title mb-5">
          {{profile?.name}}
        </div>
        <div class="sub-title mb-10">{{profile?.resume?.specialization?.name}}</div>
        <button class="change-btn mb-20">{{naming.change}}</button>
        <div class="direction-row d-flex w-100 j-c-center a-1-center">
          <div class="sub-btn mr-10">{{profile?.resume?.city?.name}}</div>
          <div class="sub-btn">{{naming.workForm1}}</div>
        </div>
      </div>
      <div class="d-flex direction-column w-70 mobile-container">
        <button class="btns btn1 mb-10" routerLink=".">{{naming.personalData}}</button>
        <button class="btns btn2 mb-10" routerLink="responses">{{naming.personalVacancy}}</button>
        <button class="btns btn3 mb-20" routerLink="offers">{{naming.personalOffers}}</button>
        <div class="d-flex direction-row a-1-center j-c-center mb-20">
          <img class="mr-10" src="images/button_exit.svg" alt="exit"/>
          <button type="button" (click)="signOut()" class="btn-exit">{{naming.exit}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex w-70">
    <router-outlet></router-outlet>
  </div>
</div>





