@let profile = user.worker$ | async;
<div class="d-flex container-main mt-40 mobile">
  <app-candidate-aside [candidate]="profile">
    <div class="d-flex direction-column w-70 mobile-container">
      <button class="btns btn1 mb-10" routerLink=".">{{naming.personalData}}</button>
      <button class="btns btn2 mb-10" routerLink="responses">{{naming.personalVacancy}}</button>
      <button class="btns btn3 mb-20" routerLink="offers">{{naming.personalOffers}}</button>
      <div class="d-flex direction-row a-1-center j-c-center mb-20">
        <img class="mr-10" src="images/button_exit.svg" alt="exit"/>
        <button type="button" (click)="signOut()" class="btn-exit">{{naming.exit}}</button>
      </div>
    </div>
  </app-candidate-aside>
  <div class="d-flex w-70">
    <router-outlet></router-outlet>
  </div>
</div>





