<div class="d-flex container">
  <div class="d-flex direction-column j-c-start a-1-center w-30">
    <div class="d-flex j-c-center a-1-center w-100 relative">
        <div class="w-100 a-1-center j-c-center d-flex">
          <img class="img-profile" src="images/profile.svg" alt="profile"/>
        </div>
        <div class="d-flex container__img-plus absolute">
          <img src="images/button_plus.svg" alt="img-button"/>
        </div>
      </div>
      <div class="d-flex direction-column j-c-center a-1-center mb-100">
        <div class="d-flex direction-row container__title mb-5">
          <div class="mr-10">Имя</div>
          <div>Фамилия</div>
        </div>
        <div class="sub-title mb-10">специализация</div>
        <button class="change-btn mb-20">{{naming.change}}</button>
        <div class="direction-row d-flex w-100 j-c-center a-1-center">
          <div class="sub-btn mr-10">{{naming.cityMy}}</div>
          <div class="sub-btn">{{naming.workForm}}</div>
        </div>
      </div>
    <div class="d-flex direction-column w-70">
        <button class="btns btn1 mb-10" routerLink=".">{{naming.personalData}}</button>
        <button class="btns btn2 mb-10" routerLink="responses">{{naming.personalVacancy}}</button>
        <button class="btns btn3 mb-20" routerLink="offers">{{naming.personalOffers}}</button>
        <div class="d-flex direction-row a-1-center j-c-center mb-20">
          <img class="mr-10" src="images/button_exit.svg" alt="exit"/>
          <button class="btn-exit">{{naming.exit}}</button>
        </div>
      </div>
  </div>
  <div class="d-flex w-70">
    <router-outlet></router-outlet>
  </div>
</div>


