h1 {
  text-align: center;
}

.popup {
  top: 0;
  position: fixed;
  z-index: 999;

}

.h1__subtitle {
  font-size: 38px;
  line-height: 48px;
  text-align: center;
}

.btn-choose {
  margin-top: 50px;
  background-color: var(--light-green);
  color: var(--white);
  font-size: 20px;
  line-height: 26px;
  padding: 20px;
  width: 400px;
  border-radius: 45px;
}

.card-price {
  background-color: var(--light-light-grey);
  border-radius: 16px;
  position: relative;
  width: 22%;
  min-height: 550px;

  .card-price__title {
    padding-top: 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
  }

  .card-price__count {
    color: var(--white);
    padding: 20px 30px;
    background-color: var(--dark-grey);
    border-radius: 10px;
    font-size: 45px;
    font-weight: 300;
    line-height: 50px;
  }

  .card-price__text {
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
  }

  .card-price__subtext {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .card-price__change {
    text-align: center;
    padding-bottom: 20px;
  }
}

.white {
  background-color: var(--white);
  border-radius: 16px;
  padding: 20px;
}

.card-price1 {
  background-color: var(--light-green);
  border-radius: 20px;
  position: relative;
  width: 24%;
  //min-height: 600px;
  padding-bottom: 40px;

  .card-price__title {
    padding-top: 20px;
    color: var(--white);
    font-size: 30px;
    line-height: 35px;
  }

  .card-price__count {
    color: var(--white);
    padding: 20px 30px;
    background-color: var(--dark-orange);
    border-radius: 10px;
    font-size: 45px;
    line-height: 50px;
  }

  .card-price__text {
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    //font-weight: 700;
  }

  .card-price__subtext {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .card-price__change {
    text-align: center;
  }
}

@media (max-width: 1150px) {
  h1 {
    margin: 0;
  }

  .w-80 {
    width: 65%;
  }


  .btn-choose {
    font-size: 13px;
    line-height: 15px;
    width: 80%;
    margin-bottom: 20px;
  }

  .h1__subtitle {
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
  }

  .direction-row {
    flex-direction: column;
  }

  .card-price, .card-price1 {
    width: 80%;
    min-height: 450px;
    margin-bottom: 10px;

    .card-price__title {
      font-size: 22px;
      line-height: 26px;
    }

    .card-price__text, .card-price__change {
      font-size: 14px;
      line-height: 17px;
    }

    .card-price__subtext, .btn-choose {
      font-size: 13px;
      line-height: 15px;
      width: 80%;
    }

    .card-price__count {
      margin-top: 10px;
      font-size: 33px;
      line-height: 39px;
    }
  }
}
