@font-face {
  font-family: 'SF UI Display Regular';
  src: url('../public/fonts/sf_ui_display_regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../public/fonts/sf_ui_display_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../public/fonts/sf_ui_display_regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../public/fonts/sf_ui_display_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../public/fonts/sf_ui_display_regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../public/fonts/sf_ui_display_regular.svg#sf_ui_display_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
