<section id="footer" class="d-flex j-c-space-between a-1-center footer">
  <a href="#" class="w-10">
    <img src="images/logo.svg" alt="logo"/>
  </a>
  <div class="d-flex direction-column a-1-start j-c-center w-50">
    <a [href]="(settings.content | async)?.offer_link" target="_blank">Договор оферты</a>
    <a [href]="(settings.content | async)?.requisites_link" target="_blank">Информация о юр. лице</a>
    <a [href]="(settings.content | async)?.personal_policy_link" target="_blank">Политика обработки персональных
      данных</a>
  </div>
  <div class="d-flex direction-column a-1-start j-c-center w-30">
    <div>Контакты</div>
    <div>Телефон: {{ (settings.content | async)?.telephone }}</div>
    <div>Почта: {{ (settings.content | async)?.email }}</div>
  </div>
</section>
