<div class="d-flex relative direction-column container-input a-1-end j-c-center">
  <div style="cursor: pointer;" (click)="showItemsList()" class="d-flex j-c-space-between w-100">
    <input
      type="text"
      class="w-55"
      [value]="getLabel(selected || defaultValue)"
      [placeholder]="placeholder"
      readonly
    />
    <img [style.transform]="'rotate(' + (isOpen ? '180deg' : '0deg') +')'" src="images/icon_profile.svg" alt="icon"/>
    <input
      [name]="name"
      [value]="getValue(selected || defaultValue)"
      type="hidden"
    >
  </div>
  <div class="d-flex direction-column absolute items-list" *ngIf="isOpen">
    <ng-scrollbar
      class="custom-scrollbar ng-scrollbar-thumb ng-scrollbar-track"
      [trackClass]="'custom-track'"
      [thumbClass]="'custom-thumb'"
    >
      <div *ngFor="let item of items;" class="mb-5 item" (click)="onSelect(item)">
        <div class="hov">{{ getLabel(item) }}</div>
      </div>
    </ng-scrollbar>
  </div>
</div>

