<section class="mb-100 w-100 d-flex j-c-space-between">
  <div class="d-flex a-1-center j-c-center direction-column w-45 mb-100">
    <img class="mb-20" src="/images/2section1.svg" alt="picture2"/>
    <markdown class="section2-container__subtitle" [data]="(settings.content | async)?.description_1"></markdown>
  </div>
  <div class="d-flex a-1-center j-c-center direction-column w-45 mb-100">
    <img class="mb-20" src="/images/2section2.svg" alt="picture3"/>
    <markdown class="section2-container__subtitle" [data]="(settings.content | async)?.description_2"></markdown>
  </div>
</section>
