<form class="d-flex a-1-start j-c-center w-100 height">
  <div class="container d-flex direction-column">
    <h1 class="mb-20">{{naming.tellAbout}}</h1>
    <div class="d-flex direction-column mb-20">
      <label class="label mb-10">{{naming.speciality}}</label>
      <input class="input"/>
    </div>
    <div class="d-flex direction-column mb-20">
      <label class="label mb-10">{{naming.interestVacancy}}</label>
      <input class="input"/>
    </div>
    <div class="d-flex direction-column mb-20">
      <label class="label mb-10">{{naming.coursesMy}}</label>
      <div class="subtext">{{naming.coursesMySubtext}}</div>
      <textarea class="textarea"></textarea>
    </div>
    <div class="d-flex direction-column mb-20">
      <label class="label mb-10">{{naming.interestTasks}}</label>
      <textarea class="textarea"></textarea>
    </div>
    <div class="d-flex direction-column mb-20">
      <label class="label mb-10">{{naming.skillsMy}}</label>
      <div class="d-flex direction-row container-checkbox">
          @for (item of items; track item){
          <div class="d-flex container-skill">
            <input class="checkbox" type="checkbox"/>
            <div class="checkbox-name">{{item.name}}</div>
          </div>
          }
      </div>
    </div>
    <div class="d-flex w-50 j-c-space-between mb-20">
      <div class="d-flex direction-column w-100">
        <label class="label mb-10">{{naming.cityMy}}</label>
        <div class="d-flex w-70">
          <select class="d-flex select w-100"></select>
        </div>
      </div>
      <div class="d-flex direction-column w-100">
        <label class="label mb-10">{{naming.workForm}}</label>
        <div class="d-flex w-70">
          <select class="d-flex select w-100"></select>
        </div>
      </div>
    </div>
    <div class="d-flex direction-column mb-20">
      <label class="label mb-10">{{naming.payMy}}</label>
      <div class="subtext">{{naming.payMySubtext}}</div>
      <textarea class="textarea"></textarea>
    </div>
    <div class="d-flex direction-column mb-20">
      <label class="label mb-10">{{naming.comment}}</label>
      <div class="subtext">{{naming.commentSubtext}}</div>
      <textarea class="textarea" placeholder="Профессиональные или личные интересы, уровень владения навыками и другое..."></textarea>
    </div>
    <div class="d-flex direction-column mb-20">
      <div class="label mb-10">{{naming.resume}}</div>
      <div class="d-flex direction-row container-btn-resume a-1-center j-c-space-between">
        <img src="images/resume.svg" alt="resume"/>
        <button class="btn-resume">{{naming.resume}}</button>
      </div>
    </div>
    <div class="d-flex a-1-center j-c-center">
      <div class="container-btn-save d-flex a-1-center j-c-center mb-100">
        <button class="btn-save" type="submit" routerLink="/profile">{{naming.save}}</button>
      </div>
    </div>
  </div>
</form>

