form {
  background-color: var(--white);

  h1 {
    margin: 60px 0 40px;
    font-weight: 500;
  }
}

.container-checkbox {
  flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  padding: 20px;

  .writeSkills {
    border-radius: 10px;
    border: 1px solid var(--light-light-grey);
    height: 50px;

    &::placeholder {
      padding-left: 20px;
      font-size: 18px;
      line-height: 21px;
    }
  }
}


.label {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.input {
  padding-left: 20px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  font-size: 16px;
}

.subtext {
  font-size: 20px;
  line-height: 26px;
  color: var(--light-grey);
}

.textarea {
  padding: 20px;
  min-height: 100px;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  font-size: 16px;

  &::placeholder {
    font-family: 'SF UI Display Regular';
    font-size: 16px;
    line-height: 20px;
  }
}

.checkbox-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}


.select {
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
}

.container-btn-resume {
  padding: 0 20px;
  height: 58px;
  color: var(--white);
  background-color: var(--light-grey);
  width: 11%;
  border-radius: 43px;

  .btn-resume {
    color: var(--white);
    font-size: 15px;
    line-height: 18px;
  }
}

.container-btn-save {
  height: 65px;
  width: 15%;
  background-color: var(--dark-orange);
  border-radius: 88px;

  .btn-save {
    color: var(--white);
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 1150px) {

  form {
    margin-top: -20px;

    h1 {
      margin: 20px 0;
      text-align: center;
    }
  }

  .container-main {
    width: 90%;
  }

  .mb-40 {
    margin-bottom: 10px;
  }

  .label {
    font-size: 16px;
    line-height: 20px;
  }

  .subtext {
    font-size: 14px;
    line-height: 19px;
  }

  .w-50 {
    width: 100%;
    flex-direction: column;
  }

  .mr-30 {
    margin-bottom: 20px;
  }

  .textarea {
    padding: 10px;
    font-size: 15px;

    &::placeholder {
      font-size: 15px;
      line-height: 18px;
    }
  }

  .mob {
    align-items: center;
  }

  .container-btn-resume {
    height: 48px;
    width: 50%;

    .btn-resume {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .container-btn-save {
    height: 48px;
    width: 62%;

    .btn-save {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
